$myBackgroundColor: lightblue;
$myFont: 'Trebuchet MS', Arial, sans-serif;

body {
  text-align: center;
}

.my-background {
  background-color: $myBackgroundColor;
  font-family: $myFont;
  font-size: 60px;
}

.my-img {
  display: block;
  width: 200px;
  margin: 0 auto;
}
